@import "config/colors";
@import "config/sizes";
@import "config/typography";

@import "layout";

body {
  background-color: $backgroundColor;
  color: $mussel;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $linkColor;

  &:hover {
    color: $mussel;
  }
}

.text-muted {
  color: $musselLight;
}

.container {
  max-width: 800px;
}
